<div class="row">
    <div class="col-lg-12">
        <div class="page-header"><h1>About</h1></div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-lg-10">
            <h2>Non Zero Initiative, the vision</h2>
            <p>Det slog mig att en Todo-lista är för snäv, för trångsynt,
                en Todo-lista är för generell och stjälper mer än vad den
                hjälper genom att bara åta sig vardagen och därigenom skapa
                stress, en Todo-lista tar inte hänsyn till "the big picture".
                Vad är då detta, "the big picture"? För mig, åtminstone, är
                det mål, livsmål, drömmar och vägen till lycka
                (bland mycket annat, givetvis). Att komma dit är snårigt och
                svårt, det krävs motivation, dedikation, målmedvetenhet och
                kanske framförallt produktivitet (samt en rad andra,
                kraftfulla beskrivande adjektiv som vi kanske alla strävar efter).
                Jobbig, eller hur?
            </p>

            <p>
                In kliver "non zero initiative" - en filosofi.
                Samtidigt som det ger dig motivationen att lyckas och
                ett hjälpmedel i form av en mer nischad Todo-lista.
                Grundtanken är att om du är som jag, som skjuter upp saker,
                som har ångest när ingenting blir gjort, måhända lite lat.
                Att du, som jag anammar "non zero initiative"-filosofin som
                försöker få upp din produktivitet.
            </p>
            <p>
                Hur?
                Säg att ditt mål är att bli riktigt deffad inför sommaren,
                lägg upp ditt (eventuellt långsiktiga) mål i applikationen
                och lev därefter efter principen att aldrig mer 'slösa' bort
                en dag, det vill säga non-zero. TILLÅT dig själv inga mer
                sådana dagar, suttit hela dagen framför datorn när du skulle ut
                och springa istället? Fine, du ska fortfarande inte ha en non zero dag,
                lägg dig på marken och gör 10 armhävningar, läs en mening om kost
                och nutrition, läs om kroppen, gör NÅGOT, litet som stort och
                bokför detta sedan i applikationen. Dagarna kommer därefter kedjas
                och generera kombos och förhoppningsvis så märker du, även
                om kliven i början var små, att du för varje dag som går
                blir mer produktiv. Missar du en dag så återställs din
                kombo av dagar och du får börja om på noll. Men var inte
                för hård mot dig själv, även om det står på noll,
                så börjar inte du, som person om helt från noll, fortsätt,
                kör igen och tillslut kommer du lyckas!
            </p>
            <p>"- Fuck you present me. This is for you future me!"</p>
            <p>"- Thank you, past me."</p>

        </div>
    </div>
</div>

