<div class="col-lg-4">
    <!-- If the goal is still active, everything should be visible -->
    {{ #active }}
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#goal/{{ goalId }}"><h2>{{ name }}</h2></a>
            <p>Active: {{ active }}</p>
		</div>
		<div class="panel-body">
			<p>Number of non-zero days so far: {{ days }}</p>

			<div class="addDay">
                <form class="form-horizontal">
				<div class='form-group'>
					<div class="col-lg-8">
						<input type='text' class='form-control input' id='descr' name='descr' placeholder="Description">
					</div>
                    <div class="col-lg-8">
  					    <span class='day-help-block hidden'></span>
  					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-4">
						<button type="submit" id="addDayButton" class="btn btn-success">Add descr</button>
					</div>
				</div>
                </form>
			</div>

			<button class="btn btn-success btn-sm" id="add-day">+ Add day</button>
			<a href="#edit/{{ goalId }}" class="btn btn-warning btn-sm">- Edit</a>
			<button class="btn btn-danger btn-sm" id="delete">× Delete</button>
		</div>
  	</div>
    {{ /active }}

    {{ ^active }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#goal/{{ goalId }}"><h2>{{ name }}</h2></a>
            <p>Active: {{ active }}</p>
        </div>
        <div class="panel-body">
            <p>Number of non-zero days managed: {{ days }}</p>
            <button class="btn btn-danger btn-sm" id="delete">× Delete</button>
        </div>
    </div>
    {{ /active }}

</div>